.commit_1_0_0 {
    &__title {
        font-size: 26px;
        font-weight: 600;
        color: #0055A4;
        text-transform: uppercase;
        padding: 40px 0 25px;
        text-align: left;
        margin: 20px 0 10px;
    }

    &__box1 {
        &__tabs {
            display: flex;
            justify-content: space-between;
            margin: 0;
            padding: 0;
            list-style: none;

            .tab {
                margin: 0;
            }
        }

        li {
            padding: 20px !important;
            border: 1px solid #ccc;

            &.tns-nav-active {
                background: #F5F5F5;
                border: none;
            }
        }

        img {
            width: 100%;
            height: auto;
            display: block;
        }
    }

    &__box2 {
        &__pic {
            position: relative;

            img {
                width: 100%;
                height: auto;
                display: block;
            }
        }

        &__ct {
            position: absolute;
            top: 10%;
            width: 370px;
            padding-left: 20px;
        }

        &__tt {
            font-size: 30px;
            color: #000;
            padding-right: 30px;
            padding-top: 0px;
            margin: 20px 0 10px;
        }

        &__subTitle {
            font-style: italic;
            font-size: 15px;
        }

        &__more {
            padding-top: 15px;
            display: block;
            color: #000;
            cursor: pointer;

            span {
                background: #E43D3B;
                color: #fff;
                font-size: 17px;
                font-weight: 600;
                border-radius: 30px;
                padding: 10px 10px 10px 0;

                b {
                    background: #0055A4;
                    padding: 10px 15px;
                    border-radius: 30px;
                }
            }
        }
    }

    &__box3 {
        background: #0165CD;
        min-height: 450px;
        margin-top: 70px;
        padding: 20px;
        border-radius: 8px;
        color: #fff;

        &__tt {
            text-transform: uppercase;
            font-size: 20px;
            margin-top: 0;
            text-align: center;
        }

        select {
            width: 100%;
            text-align: center;
            text-align-last: center;
            padding: 5px;
            background-color: #6DCFF6;
            border: none;
            border-radius: 6px;
            font-size: 18px;
            font-weight: 600;
        }

        &__item {
            background-color: #fff;
            margin-top: 10px;
            min-height: 190px;
            border-radius: 6px;
            padding: 10px;
            display: none;

            .scrollbar {
                float: left;
                height: 150px;
                width: 100%;
                overflow-y: scroll;
            }

            .force-overflow {
                min-height: 320px;
            }
        }

        &__sub {
            display: flex;
            flex-wrap: wrap;
            margin-bottom: 10px;

            .address {
                width: 50%;
            }

            .icon__call,
            .icon__time {
                width: 24%;
                padding-top: 22px;
                position: relative;
            }

            .icon__call {
                &::before {
                    background: url(../images/call.webp) center 0 no-repeat;
                    background-size: 100%;
                    position: absolute;
                    top: 0px;
                    left: 10px;
                    display: block;
                    content: "";
                    width: 23px;
                    height: 23px;
                }
            }

            .icon__time {
                &::before {
                    background: url(../images/lich.webp) center 0 no-repeat;
                    background-size: 100%;
                    position: absolute;
                    top: 0px;
                    left: 18px;
                    display: block;
                    content: "";
                    width: 16px;
                    height: 25px;
                }
            }
        }

        &__form {
            padding: 5px 0;

            input {
                border: none;
                margin: 4px 0;
                padding: 10px 12px;
                width: 100%;
                border-radius: 8px;
            }

            .dkbt {
                text-align: center;

                input {
                    width: 55%;
                    margin-top: 10px;
                    text-transform: uppercase;
                    background: #e43d3b;
                    color: #fff;
                    outline: unset;
                    font-size: 16px;
                    padding: 6px 0;
                    border-radius: 25px;
                    transition: 0.4s;
                }
            }
        }
    }

    @media (max-width: 1200px) {
        &__box2 {
            &__tt {
                font-size: 22px;
            }
        }

        &__box3 {
            &__sub {

                .icon__call,
                .icon__time {
                    font-size: 13px;
                }
            }
        }
    }

    @media (max-width: 1024px) {
        &__box3 {
            &__sub {
                .address {
                    width: 100%;
                    margin-bottom: 5px;
                }

                .icon__call,
                .icon__time {
                    width: 40%;
                }
            }
        }
    }

    @media (max-width: 480px) {
        &__title {
            font-size: 22px;
            padding: 16px 0;
        }

        &__box1 {
            li {
                padding: 8px !important;
            }
        }

        &__box2 {
            &__tt {
                font-size: 17px;
                margin: 0 0 10px;
            }
        }

        &__box3 {
            margin-top: 38px;
        }
    }
}

#commit_1_0_0__box1__tabs-iw {
    margin: 0;
}