.postMore_pr_1_0_0 {
    &__box {
        background: #10b1e7;
        color: #fff;
        font-size: 1rem;
        padding: 0 5px 0 0;
        width: 100%;
        display: flex;
        align-items: center;

        span {
            background: #2a52be;
            padding: 10px;
            font-weight: 600;
            margin-right: 10px;
        }
    }
}